<div class="view-partner view-main-section" >
    <a href="#" ui-sref="main.bookmark"><span ng-class="checkDevice()"></span></a>
    <div id="container" class="content-container content-scroll-container">
        <div class="partner-header" eve-background-image="partner.entity.hero">
            <a href="#" class="partner-button partner-favorite-button" ng-click="partner.toggleFavorite()">
                {{partner.favorite ? 'Remove From My Pockeyt' : 'Add to My Pockeyt'}}
            </a>
            <div class="partner-logo" eve-background-image="partner.entity.logo"></div>
            <div class="partner-details">
                <div class="partner-name">
                    {{partner.entity.name}}
                </div>
                <div class="partner-url">
                    <a href="#" ng-click="partner.goUrl()">{{partner.entity.url | domain}}</a>
                </div>
            </div>
        </div>
        <!-- <div class="partner-lock-state"
             ng-click="partner.entity.lockIfUnlocked()"
             ng-class="{'partner-lock-state-locked': !partner.entity.unlocked, 'partner-lock-state-unlocked': partner.entity.unlocked}">
            {{partner.entity.unlocked ? 'Tap to lock' : 'Login locked'}}
            <span class="icon pull-right" ng-class="{'ea-icon-unlock': partner.entity.unlocked, 'ea-icon-lock': !partner.entity.unlocked}"></span>
        </div> -->
        <div class="segmented-control partner-tabs thick-tabs">
            <a class="control-item  active" href="#partner-feed">Feed</a>
            <a class="control-item" href="#partner-info">Info</a>
        </div>
        <div>
            <!--suppress XmlDuplicatedId -->
            <ul ng-if="partner.entity.feed.length > 0" class="control-content active table-view" id="partner-feed">
                <li class="table-view-cell feedentry" ng-repeat="feedentry in partner.entity.feed">
                    <div class="media-body">
                        <h4 class="feed-title" ng-bind="feedentry.title"></h4>
                        <img ng-hide="!feedentry.photo_url" class="media-object postimage" ng-src="{{feedentry.photo_url}}">
                        <div class="feed-body" ng-bind-html="feedentry.body"></div>
                        <p ng-if="feedentry.date" class="postdate pull-left" ng-bind="feedentry.date.toDateString()"></p>
                        <a class="share-button" href="#" ng-click="shareContent(feedentry)">
                            <span class="icon ea-icon-share pull-right"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <!--suppress XmlDuplicatedId -->
            <div ng-if="partner.entity.feed.length == 0" class="control-content active partner-info" id="partner-feed"><p>No recent activity.</p></div>
            <!--suppress XmlDuplicatedId -->
            
            <div ng-if="partner.entity.info" class="control-content partner-info" id="partner-info">
                <div ng-hide="!partner.entity.review_url">
                    <div class="review">
                        <h4>Get an Inside Look:</h4>
                        <a href="#" ng-click="partner.goReview()">
                            <img class="media-object pull-left partnerlogo" src="images/triFoodie.png"/>
                            Triangle Foodie Adventures
                            <p>{{ partner.entity.review_intro }}</p>
                        </a>
                    </div>
                    <p class="linkURL">www.trifoodies.com</p>
                    <hr>
                </div>
                <div class="info">
                <h4>Business info:</h4>
                    <p ng-bind-html="partner.entity.info"></p>
                </div>
            </div>
            <!--suppress XmlDuplicatedId -->
            <div ng-if="!partner.entity.info" class="control-content partner-info" id="partner-info"><p>No info available.</p></div>
        </div>
    </div>
</div>