<div >
	<div class="date-scroller">
	  <div class="date-picker">
	     <div class="selected-date" ng-class="dateToday() ? 'selected-date-active' : 'selected-date'" ng-click="loadDate('today')">Today</div>

	     <div class="selected-date" ng-class="dateTomorrow() ? 'selected-date-active' : 'selected-date'" ng-click="loadDate('tomorrow')">Tomorrow</div>

	     <div class="selected-date-active" ng-show="dateWeek()" ng-click="loadDate('week')">This Week</div>
	     <div class="selected-date" ng-show="!dateWeek()" ng-click="loadDate('week')">This Week</div>

	     <div class="selected-date-active" ng-show="dateWeekend()" ng-click="loadDate('weekend')">The Weekend</div>
	     <div class="selected-date" ng-show="!dateWeekend()" ng-click="loadDate('weekend')">The Weekend</div>
	  </div>
	</div>
</div>