<div ng-class="isBooting() ? 'show-booting-img' : 'hide-booting-img'"></div>
<div class="bar bar-nav">
    <a ng-if="('main.bookmark' | isState) || (('main.bookmark' | isState) == false && bookmarkCheck())" ng-class="checkIfPartnerState() ? 'hide-bookmark' : 'icon ea-icon-bookmark-button pull-left'" href="#" ui-sref-active="active" ui-sref=".bookmark" ui-sref-opts="{reload: true}" ng-click="updateBookmarkCheck()"></a>
     <a ng-if="(('main.bookmark' | isState) == false && (bookmarkCheck() == false))" ng-class="checkIfPartnerState() ? 'hide-bookmark' : 'icon ea-icon-bookmark-button pull-left'" href="#" ui-sref-active="active" ui-sref=".bookmark" ></a>

    <h1 class="title"><img src="./images/logo-horizontal-white.png" class="headerlogo"></h1>
    <a ng-show="('main.my-pockeyt' | isState)" href="#" ui-sref-active="active" ui-sref=".profile" ui-sref-opts="{reload: true}" class="icon ea-icon-profile-outline pull-right"></a>
</div>

<nav class="bar bar-tab">

    <a ng-if="'main.explore' | isState" class="tab-item" href="#" ui-sref-active="active" ui-sref=".explore" ui-sref-opts="{reload: true}">
        <span class="icon ea-icon-explore"></span>
        <span class="tab-label">Explore</span>
    </a>
    <a ng-if="('main.explore' | isState) == false" class="tab-item" href="#" ui-sref-active="active" ui-sref=".explore" >
        <span class="icon ea-icon-explore"></span>
        <span class="tab-label">Explore</span>
    </a>

    <a ng-if="'main.connect' | isState" class="tab-item" href="#" ui-sref-active="active" ui-sref=".connect" ui-sref-opts="{reload: true}">
        <span class="icon ea-icon-connect"></span>
        <span class="tab-label">Find</span>
    </a>
    <a ng-if="('main.connect' | isState) == false" class="tab-item" href="#" ui-sref-active="active" ui-sref=".connect" >
        <span class="icon ea-icon-connect"></span>
        <span class="tab-label">Find</span>
    </a>

    <a ng-if="('main.my-pockeyt' | isState) || (('main.my-pockeyt' | isState) == false && myPockeytCheck())" class="tab-item" href="#" ui-sref-active="active" ui-sref=".my-pockeyt" ui-sref-opts="{reload: true}" ng-click="updateCheck()">
        <span class="icon ea-icon-my-pockeyt"></span>
        <span class="tab-label">My Pockeyt</span>
    </a>
    <a ng-if="(('main.my-pockeyt' | isState) == false && (myPockeytCheck() == false))" class="tab-item" href="#" ui-sref-active="active" ui-sref=".my-pockeyt" >
        <span class="icon ea-icon-my-pockeyt"></span>
        <span class="tab-label">My Pockeyt</span>
    </a>

    <a ng-if="'main.events' | isState" class="tab-item" href="#" ui-sref-active="active" ui-sref=".events" ui-sref-opts="{reload: true}">
        <span class="icon ea-icon-events"></span>
        <span class="tab-label">Events</span>
    </a>
    <a ng-if="('main.events' | isState) == false" class="tab-item" href="#" ui-sref-active="active" ui-sref=".events" >
        <span class="icon ea-icon-events"></span>
        <span class="tab-label">Events</span>
    </a>

    <a ng-if="'main.blogs' | isState" class="tab-item" href="#" ui-sref-active="active" ui-sref=".blogs" ui-sref-opts="{reload: true}">
        <span class="icon ea-icon-blog"></span>
        <span class="tab-label">Our City</span>
    </a>
    <a ng-if="('main.blogs' | isState) == false" class="tab-item" href="#" ui-sref-active="active" ui-sref=".blogs" >
        <span class="icon ea-icon-blog"></span>
        <span class="tab-label">Our City</span>
    </a>
</nav>

<div ng-show="$state.includes('main.my-pockeyt')" ui-view="my-pockeyt"></div>
<div ng-show="$state.includes('main.connect')" ui-view="connect"></div>
<div ng-show="$state.includes('main.explore')" ui-view="explore"></div>
<div ng-show="$state.includes('main.events')" ui-view="events"></div>
<div ng-show="$state.includes('main.bookmark')" ui-view="bookmark"></div>
<div ng-show="$state.includes('main.blogs')" ui-view="blogs"></div>
<div ng-show="$state.includes('main.profile', 'main.profile.edit')" ui-view="profile"></div>
<div ui-view></div>
